network={
    ssid="{{ ssid }}"
    key_mgmt={{ key_mgmt }}
{% if key_mgmt == "WPA-EAP" %}
    eap={{ eap }}
    identity="{{ identity }}"
    password="{{ password }}"
    phase2="{{ phase2 }}"
{% else %}
    psk="{{ psk }}"
{% endif %}
}

